<div class="col-md 6 question-display">
  <div class="question-display-content">
    {{#link-to 'question' question.id}}     
      {{question.question}}
      <li>{{question.author}}</li>
    {{/link-to}}    
  </div> 
</div>
