<div class="question-header">
  {{model.question}}
</div>
<br>
<div class="question-author">
  {{model.author}}
</div>
<hr>
<div class="question-notes">
 {{model.notes}}
</div>    

{{edit-question model=model update="update"}}